.upper {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(6, 1fr);
  margin: 15px;
  margin-top: 0px;
  padding: 13px;
  box-shadow: 1px 1px 1px 1px rgb(137, 136, 194);
  border-radius: 5px;
}
.upper:hover {
  transform: scale(1.02);
  cursor: pointer;
}
body {
  background-color: rgb(42, 26, 87);
}
.try {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(6, 1fr);
  margin: 0px;
  margin-bottom: 15px;
  padding: 13px;
  box-shadow: 1px 1px 1px 1px rgb(137, 136, 194);
  border-radius: 5px;
  position: fixed;
  top: 0;
}
